@import '../../variables.scss';

.container {
  display: flex; //flex
  justify-content: space-between;

  .stats {
    display: flex;
    flex-direction: column;
    gap: 14px;
    background: #ffffff;
    width: 240px;
    height: 160px;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    padding: 20px 30px 30px;

    &:nth-of-type(1) {
      figure {
        background: rgb(223, 24, 255, 0.1);
      }
    }
    &:nth-of-type(2) {
      figure {
        background: rgb(87, 24, 255, 0.1);
      }
    }
    &:nth-of-type(3) {
      figure {
        background: rgb(245, 95, 68, 0.1);
      }
    }
    &:nth-of-type(4) {
      figure {
        background: rgb(255, 51, 102, 0.1);
      }
    }

    figure {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: grid;
      place-content: center;
      overflow: hidden;

      img {
        max-width: 22px;
        height: auto;
      }
    }

    table {
      display: flex;
      flex-direction: column;
      gap: 12px;

      thead {
        text-align: start;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: $primary-color;
      }

      tbody {
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: $base-color;
      }
    }
  }
}
